.persona-container{
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background: rgb(81, 100, 143);
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 500px;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.person-input {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.title {
  display: flex;
  justify-content: center;
  gap: 20px;
}
  
.go-back-button {
  bottom: 7px;
  background-color: rgba(211, 17, 17, 0.877);
  color: #e7ebf0;
}

.submit{
  background-color: rgba(32, 189, 92, 0.877);
  color: #e7ebf0;
  font-weight: bold;
}