p{
  position: fixed;
  bottom: 0;
  right: 4%;
  padding: 10px;
  margin-bottom: 0;
  width: 90%;
  height: 20px;
  justify-content: space-between;
  background-image: linear-gradient(45deg, rgba(46, 63, 141, 0.7), rgba(138, 228, 55, 0.7));
  text-align: center;
  color: #fff;
  border-radius: 15px;
  z-index: 1;
  backdrop-filter: blur(5px);
}